<section class="py-5 border-bottom" id="features">
  <div class="container px-5 my-5 game-card">
    <div class="row gx-5">
      <div class="col-lg-4 mb-5 mb-lg-0">
        <div class="feature mb-3"><img src="http://upload.wikimedia.org/wikipedia/commons/thumb/2/2a/LoL_icon.svg/2048px-LoL_icon.svg.png"></div>
        <h2 class="h4 fw-bolder">Boost in League of Legends</h2>
        <p>You can order boosting in League of Legends with the link below, just select your current rank and where would you like to end up on and we will get you up there!</p>
        <a class="text-decoration-none" href="/league-of-legends">
          Boost League
          <i class="bi bi-arrow-right"></i>
        </a>
      </div>
      <div class="col-lg-4 mb-5 mb-lg-0 game-card">
        <div class="feature mb-3"><img src="http://styles.redditmedia.com/t5_43d3i4/styles/communityIcon_j3irp1libjm61.png"></div>
        <h2 class="h4 fw-bolder">Boost in Valorant</h2>
        <p>This is where you can find the link to the page where you can order a boost in Valorant, there you select a current rank and your desired rank and we will get you there as soon as possible!</p>
        <a class="text-decoration-none" href="/valorant">
          Boost Valorant
          <i class="bi bi-arrow-right"></i>
        </a>
      </div>
    </div>
  </div>
</section>
