<section class="page-section" id="services">
  <div class="container text-center row">
    <div class="col block-container">
      <div class="text-center row">
        <div class="select-from-buttons">
          <app-valorant-select-rank-from [ranks]="ranks" [order]="order" [rankLevels]="rankLevels"></app-valorant-select-rank-from>
        </div>
        <div class="row select-to-buttons">
          <app-valorant-select-rank-to [ranks]="ranks" [order]="order" [rankLevels]="rankLevels"></app-valorant-select-rank-to>
        </div>
      </div>
    </div>
    <div class="col input-details-container block-container">
      <div class="input-block">
        <app-valorant-confirm-order [order]="order"></app-valorant-confirm-order>
      </div>
    </div>
  </div>
</section>
