<section class="page-section" id="services">
  <div class="container">
    <div class="block-container">
      <div>
        <div class="input-block row">
          <div class="col">
            <div class="select-from-buttons">
              <app-valorant-select-rank-from [ranks]="ranks" [order]="order" [rankLevels]="rankLevels"></app-valorant-select-rank-from>
            </div>
            <div class="row select-to-buttons">
              <app-valorant-select-rank-to [ranks]="ranks" [order]="order" [rankLevels]="rankLevels"></app-valorant-select-rank-to>
            </div>
          </div>
          <div class="input-details-container block-container col">
            <app-valorant-confirm-order [order]="order"></app-valorant-confirm-order>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
