<section class="page-section dark-section" id="about">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">About</h2>
      <h3 class="section-subheading text-muted-dark-bg">What you have to know about our services.</h3>
    </div>
    <ul class="timeline">
      <li>
        <div class="timeline-image"></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="subheading">Appear Offline</h4>
          </div>
          <div class="timeline-body"><p class="text-muted-dark-bg">None of your friends will see the booster playing on your account.</p></div>
        </div>
      </li>
      <li class="timeline-inverted">
        <div class="timeline-image"></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="subheading">Order Tracking</h4>
          </div>
          <div class="timeline-body"><p class="text-muted-dark-bg">Track your order efficiently and effortlessly through this website.</p></div>
        </div>
      </li>
      <li>
        <div class="timeline-image"></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="subheading">24/7 Live Support</h4>
          </div>
          <div class="timeline-body">Rely on our professional support team 24/7.<p class="text-muted"></p></div>
        </div>
      </li>
      <li class="timeline-inverted">
        <div class="timeline-image">
          <h4>
            Be Part
            <br />
            Of Our
            <br />
            Story!
          </h4>
        </div>
      </li>
    </ul>
  </div>
</section>
