<div class="home-page-content">
  <div class="title-content">
    <h1>Boost your rank with Me!</h1>
  </div>
  <div class="row order-details">
    <div class="col rank-selection-block">
      <div class="row rank-selection-row">
        <div class="col select-from-buttons">
          <h2 class="rank-form-title">Select your current rank here!</h2>
          <button class="league-rank-button"><img src="https://boostroyal.no/assets/images/divisions/lol/iron.png"></button>
          <button class="league-rank-button"><img src="https://boostroyal.no/assets/images/divisions/lol/bronze.png"></button>
          <button class="league-rank-button"><img src="https://boostroyal.no/assets/images/divisions/lol/silver.png"></button>
          <button class="league-rank-button"><img src="https://boostroyal.no/assets/images/divisions/lol/gold.png"></button>
          <button class="league-rank-button"><img src="https://boostroyal.no/assets/images/divisions/lol/platinum.png"></button>
          <button class="league-rank-button"><img src="https://boostroyal.no/assets/images/divisions/lol/diamond.png"></button>
          <button class="league-rank-button"><img src="https://boostroyal.no/assets/images/divisions/lol/master.png"></button>
          <button class="league-rank-button"><img src="https://boostroyal.no/assets/images/divisions/lol/grandmaster.png"></button>
          <div>
            <select class="form-select">
              <option value="0">Nothing selected</option>
              <option value="4">IV</option>
              <option value="3">III</option>
              <option value="2">II</option>
              <option value="1">I</option>
            </select>
          </div>
          <label>
            Current Lp:
            <input type="text"/>
          </label>
          <h5>Select your region:</h5>
          <select class="form-select">
            <option value="0">Nothing selected</option>
            <option value="Europe West">Europe West</option>
            <option value="Europe Nordic & East">Europe Nordic & East</option>
          </select>
        </div>
        <div class="col select-to-buttons">
          <h2 class="rank-form-title">Select your desired rank here!</h2>
          <button class="league-rank-button"><img src="https://boostroyal.no/assets/images/divisions/lol/iron.png"></button>
          <button class="league-rank-button"><img src="https://boostroyal.no/assets/images/divisions/lol/bronze.png"></button>
          <button class="league-rank-button"><img src="https://boostroyal.no/assets/images/divisions/lol/silver.png"></button>
          <button class="league-rank-button"><img src="https://boostroyal.no/assets/images/divisions/lol/gold.png"></button>
          <button class="league-rank-button"><img src="https://boostroyal.no/assets/images/divisions/lol/platinum.png"></button>
          <button class="league-rank-button"><img src="https://boostroyal.no/assets/images/divisions/lol/diamond.png"></button>
          <button class="league-rank-button"><img src="https://boostroyal.no/assets/images/divisions/lol/master.png"></button>
          <button class="league-rank-button"><img src="https://boostroyal.no/assets/images/divisions/lol/grandmaster.png"></button>
          <div>
            <select class="form-select">
              <option value="0">Nothing selected</option>
              <option value="4">IV</option>
              <option value="3">III</option>
              <option value="2">II</option>
              <option value="1">I</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="col input-details-container">
      <div>
        <form class="input-block">
          <label>
            First Name:
            <input type="text" name="firstName" required />
          </label>
          <label>
            Last Name:
            <input type="text" name="lastName" required />
          </label>
          <label>
            Email:
            <input type="email" name="email" required />
          </label>
        </form>
      </div>
      <div class="summary-component">
        <p>First Name: </p>
        <p>Last Name: </p>
        <p>Contact Email: </p>
        <p>Current Rank: </p>
        <p>Desired Rank: </p>
        <p>Region: </p>

        <button id="submit-btn" class="btn btn-light">Submit</button>
      </div>
    </div>
  </div>
</div>
