<h1>Orders</h1>
<div class="orders">
  <div class="order">
    <table>
      <tr>
        <th>Order Id</th>
        <th>Name</th>
        <th>Email</th>
        <th>Game</th>
        <th>Current Rank</th>
        <th>Desired Rank</th>
        <th>Region</th>
        <th>Status</th>
      </tr>
      <tr *ngFor="let order of orders">
        <td class="table-data">{{ order.id }}</td>
        <td class="table-data">{{ order.firstName }} {{ order.lastName }}</td>
        <td class="table-data">{{ order.email }}</td>
        <td class="table-data">{{ order.gameName }}</td>
        <td class="table-data">{{ order.currentRank }} {{ order.currentRankLevel }}, {{ order.currentRankPoints }}</td>
        <td class="table-data">{{ order.orderedRank }} {{ order.orderedRankLevel }}</td>
        <td class="table-data">{{ order.selectedRegion }}</td>
        <td *ngIf="adminUser" class="table-data">
          <select (change)="saveStatus($event, order.id)">
            <option>{{ order.status }}</option>
            <option *ngIf="order.status !== 'Boosting'">Boosting</option>
            <option *ngIf="order.status !== 'Processing'">Processing</option>
            <option *ngIf="order.status !== 'Finished'">Finished</option>
          </select>
        </td>
        <td class="table-data" *ngIf="!adminUser">{{ order.status }}</td>
      </tr>
    </table>
  </div>
</div>
