<div>
  <div class="title-content">
    <h1>Boost your rank with Me!</h1>
  </div>
  <div class="row main-page-content">
    <div class="col about-me-shorts">
      <div>
        <h2>Previous achivements</h2>
        <div class="achivements-textbox">
          some random text goes here
          with line breaks to be able
          to test this block
        </div>

        <h2>What do I offer?</h2>
        <div class="achivements-textbox">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </div>
      </div>
    </div>
    <div class="col game-select">
      <h3>Select the game you play</h3>
      <p>You have to be logged in to access:</p>
      <a href="/league-of-legends" class="game-option">
        <button class="select-game-btn">League of Legends</button>
      </a>
      <a href="/valorant" class="game-option">
        <button class="select-game-btn">Valorant</button>
      </a>
    </div>

  </div>

</div>
