<h1>About Me!</h1>
<div class="row">
  <div class="description-component col">
    <h2>Hi! My name is X</h2>
    <p>
      asdasdrwe giuwreu jqioewra asdefqwef<br />
      q gertiu ghrqeiuog her q gerg  aewsfadsf sad fas<br />
      gerq ihuybqoer hgq rge ger fd  fdasdsafs ad affsd a<br />
      siudfhya uihnf eaw rtewasd ads fasd fas dsa faasdf a
    </p>
  </div>
  <div class="description-component col">
    <h2>My Achievements</h2>
    <p>
      asdasdrwe giuwreu jqioewra asdefqwef<br />
      q gertiu ghrqeiuog her q gerg  aewsfadsf sad fas<br />
      gerq ihuybqoer hgq rge ger fd  fdasdsafs ad affsd a<br />
      siudfhya uihnf eaw rtewasd ads fasd fas dsa faasdf a
    </p>
  </div>
</div>
<a href="/" class="btn-primary btn">Home</a>



