a {
    margin: 3rem;
    color: white;
    width: 75px;
    height: 45px;
    display: block;
}

h1 {
    margin: 3rem;
}

.description-component {
  background-image: linear-gradient(#1e1e3be8, #4040837a);
  border-radius: 1rem;
  box-shadow: 4px 3px 8px #000000b0;
  margin: 1rem;
  padding: 2rem;
  color: white;
  margin: 3rem;
  max-width: 500px;
}
