a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
  padding: 5px
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.nav-link, .navbar-brand, .nav-link-main, .nav-link:focus {
  color: black;
  margin: 5px;
}

.nav-link:hover {
  color: black;
  background: #80808040;
  outline: 1px white solid;
  border-radius: 1rem;
}

.navbar-brand:hover {
  color: #dbdbdb
}

.navbar-brand:focus {
  color: #ffffff
}

nav {
  height: 4.5rem;
  color: white;
}

.nav-link-main:hover, .navbar-brand:hover {
  color: black;
  background: #80808040;
  outline: 1px white solid;
  border-radius: 1rem;
}

.nav-link-main {
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-size: 17px;
}
