<div class="input-block">
  <div>
    <form (ngSubmit)="sendOrder()" class="input-block">
      <div class="profile-details">
          <h2>Profile details:</h2>
        <h4 *ngIf="isUserLoggedIn">Discord name: {{ loggedInUser.discordName }}</h4>
        <h4 *ngIf="isUserLoggedIn">Email: {{ loggedInUser.email }}</h4>
      </div>
      <button type="submit" id="submit-btn" class="btn btn-light">Continue</button>
    </form>
  </div>
  <div *ngIf="isOrderCorrect" class="summary-component">
    <h3>Order sent</h3>
    <p>Discord Name: {{ order.discordName }}</p>
    <p>Contact Email: {{ order.email }}</p>
    <p>Current Rank: {{ order.currentRank }} {{ order.currentRankLevel }}, {{ order.currentRankPoints }} LP</p>
    <p>Desired Rank: {{ order.orderedRank }} {{ order.orderedRankLevel }}</p>
    <p>Ranked Queue: {{ order.rankedType }}</p>
    <p>Region: {{ order.selectedRegion }}</p>
  </div>
  <div *ngIf="wrongData" class="alert alert-danger">
    <p>Missing or wrong data!</p>
  </div>
  <div *ngIf="wrongData" class="summary-component">
    <p *ngIf="!order.discordName">Discord Name</p>
    <p *ngIf="!order.email">Email</p>
    <p *ngIf="!order.currentRank">Current Rank Missing</p>
    <p *ngIf="!order.orderedRank">Desired Rank Missing</p>
    <p *ngIf="!order.selectedRegion">Region Missing</p>
    <p *ngIf="!order.currentRankLevel">Rank level Missing</p>
    <p *ngIf="!order.currentRankPoints">Current LP Missing</p>
    <p *ngIf="!order.orderedRankLevel">Desired Rank Level Missing</p>
    <p *ngIf="!order.rankedType">Ranked Queue Type Missing</p>
  </div>
</div>
