<div class="registration-component">
  <div class="container input-block">
    <form class="registration-input">
      <label>
        First name
        <input type="text" name="username" />
      </label>
      <label>
        Last name
        <input type="text" name="username" />
      </label>
      <label>
        Username
        <input type="text" name="username" />
      </label>
      <label>
        Email
        <input type="email" name="email" />
      </label>
      <label>
        Password
        <input type="text" name="username" />
      </label>
      <label>
        Password Confirmation
        <input type="text" name="username" />
      </label>
    </form>
    <button class="btn btn-light">Sign up</button>
  </div>
</div>
