<div>
  <form (ngSubmit)="sendOrder()" class="input-block">
    <div>
      <h4 *ngIf="isUserLoggedIn">Discord name: <h3>{{ loggedInUser.DiscordName }}</h3></h4>
      <h4 *ngIf="isUserLoggedIn">Email: <h3>{{ loggedInUser.Email }}</h3></h4>
    </div>
    <button type="submit" id="submit-btn" class="btn btn-light">Submit</button>
  </form>
</div>
<div *ngIf="isOrderCorrect" class="summary-component">
  <h3>Order sent</h3>
  <p>Discord Name: {{ order.DiscordName }}</p>
  <p>Contact Email: {{ order.Email }}</p>
  <p>Current Rank: {{ order.CurrentRank }} {{ order.CurrentRankLevel }}, {{ order.CurrentRankPoints }} LP</p>
  <p>Desired Rank: {{ order.OrderedRank }} {{ order.OrderedRankLevel }}</p>
  <p>Region: {{ order.SelectedRegion }}</p>
</div>
<div *ngIf="wrongData" class="alert alert-danger">
  <p>Missing or wrong data!</p>
</div>
<div *ngIf="wrongData" class="summary-component">
  <p *ngIf="!order.DiscordName">Discord Name</p>
  <p *ngIf="!order.Email">Email</p>
  <p *ngIf="!order.CurrentRank">Current Rank</p>
  <p *ngIf="!order.OrderedRank">Desired Rank</p>
  <p *ngIf="!order.SelectedRegion">Region</p>
  <p *ngIf="!order.CurrentRankLevel">Rank level</p>
  <p *ngIf="!order.CurrentRankPoints">Current LP</p>
  <p *ngIf="!order.OrderedRankLevel">Desired Rank Level</p>
</div>
