<header class="bg-dark py-5">
  <div class="container px-5">
    <div class="row gx-5 justify-content-center">
      <div class="col-lg-6">
        <div class="text-center my-5">
          <h1 class="display-5 fw-bolder text-white mb-2">Choose a boosting option or get coaching sessions!</h1>
          <p class="lead text-white-50 mb-4">Navigate to the game you want the boost in with the links below or get coaching sessions with this button!</p>
          <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
            <a class="btn btn-primary btn-lg px-4 me-sm-3" href="/coaching">Get Coaching</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
