<div class="home-page-content">
  <div class="title-content">
    <h1>Boost your rank with Me!</h1>
  </div>
  <div class="row order-details">
    <div class="col rank-selection-block">
      <div class="row rank-selection-row">
        <div class="col select-from-buttons">
          <h2 class="rank-form-title">Select your current rank here!</h2>
          <button *ngFor="let rank of ranks" (click)="saveCurrentRank(rank.name)" class="league-rank-button"><img src="{{rank.image}}"></button>
          <div>
            <h5>Current level:</h5>
            <select class="form-select" (change)="saveCurrentRankLevel($event)">
              <option value="0">Nothing selected</option>
              <option value="4">IV</option>
              <option value="3">III</option>
              <option value="2">II
              <option value="1">I</option>
            </select>
          </div>
          <h5>Current LP:</h5>
          <select class="form-select" (change)="saveLpRange($event)">
            <option value="0">Nothing selected</option>
            <option *ngFor="let lpRange of lpRangeOptions">{{ lpRange }} lp</option>
          </select>
          <h5>Select your region:</h5>
          <select class="form-select" (change)="saveRegion($event)">
            <option value="0">Nothing selected</option>
            <option value="Europe West">Europe West</option>
            <option value="Europe Nordic & East">Europe Nordic & East</option>
          </select>
        </div>
        <div class="col select-to-buttons">
          <h2 class="rank-form-title">Select your desired rank here!</h2>
          <button *ngFor="let rank of ranks" (click)="saveDesiredRank(rank.name)" class="league-rank-button"><img src="{{rank.image}}"></button>
          <div>
            <select class="form-select" (change)="saveDesiredRankLevel($event)">
              <option value="0">Nothing selected</option>
              <option value="4">IV</option>
              <option value="3">III</option>
              <option value="2">II</option>
              <option value="1">I</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="col input-details-container">
      <div>
        <form (ngSubmit)="sendOrder()" class="input-block">
          <div>
            <h4 *ngIf="isUserLoggedIn">Discord name: <h3>{{ loggedInUser.DiscordName }}</h3></h4>
            <h4 *ngIf="isUserLoggedIn">Email: <h3>{{ loggedInUser.Email }}</h3></h4>
          </div>
          <button type="submit" id="submit-btn" class="btn btn-light">Submit</button>
        </form>
      </div>
      <div *ngIf="isOrderCorrect" class="summary-component">
        <h3>Order sent</h3>
        <p>Discord Name: {{ order.DiscordName }}</p>
        <p>Contact Email: {{ order.Email }}</p>
        <p>Current Rank: {{ order.CurrentRank }} {{ order.CurrentRankLevel }}, {{ order.CurrentRankPoints }} LP</p>
        <p>Desired Rank: {{ order.OrderedRank }} {{ order.OrderedRankLevel }}</p>
        <p>Region: {{ order.SelectedRegion }}</p>
      </div>
      <div *ngIf="wrongData" class="alert alert-danger">
        <p>Missing or wrong data!</p>
      </div>
      <div *ngIf="wrongData" class="summary-component">
        <p *ngIf="!order.DiscordName">Discord Name</p>
        <p *ngIf="!order.Email">Email</p>
        <p *ngIf="!order.CurrentRank">Current Rank</p>
        <p *ngIf="!order.OrderedRank">Desired Rank</p>
        <p *ngIf="!order.SelectedRegion">Region</p>
        <p *ngIf="!order.CurrentRankLevel">Rank level</p>
        <p *ngIf="!order.CurrentRankPoints">Current LP</p>
        <p *ngIf="!order.OrderedRankLevel">Desired Rank Level</p>
      </div>
    </div>
  </div>
</div>
