<div class="boosting-component row">
  <div class="col">
    <div class="boosting-details">
      <h3>Whad do you have to know about boosting?</h3>
      Boosting is the process of improving your ranked division in LoL by giving access of your account to a professional player who spends all his time playing at a high level and boosting league of legends accounts.
    </div>
    <div class="boosting-details">
      <h3>Boosting with us</h3>
      Boosting is the process of improving your ranked division in LoL by giving access of your account to a professional player who spends all his time playing at a high level and boosting league of legends accounts.
      Boosting is the process of improving your ranked division in LoL by giving access of your account to a professional player who spends all his time playing at a high level and boosting league of legends accounts.
    </div>
  </div>
  
  <div class="game-select col">
    <div class="game-option">
      <a href="/league-of-legends">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2a/LoL_icon.svg/2048px-LoL_icon.svg.png" />
      </a>
    </div>
    <div class="game-option">
      <a href="/valorant">
        <img src="https://styles.redditmedia.com/t5_43d3i4/styles/communityIcon_j3irp1libjm61.png" />
      </a>
    </div>
    <h5 id="select-game-title">Select a game to continue!</h5>
  </div>
</div>

