<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <!-- Bootstrap icons-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />
  <!-- Core theme CSS (includes Bootstrap)-->
  <link href="boosting.component.css" rel="stylesheet" />
</head>
<body>
  <!-- Header-->
  <header class="bg-dark py-5">
    <div class="container px-5">
      <div class="row gx-5 justify-content-center">
        <div class="col-lg-6">
          <div class="text-center my-5">
            <h1 class="display-5 fw-bolder text-white mb-2">Choose a boosting option or get coaching sessions!</h1>
            <p class="lead text-white-50 mb-4">Navigate to the game you want the boost in with the links below or get coaching sessions with this button!</p>
            <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
              <a class="btn btn-primary btn-lg px-4 me-sm-3" href="/coaching">Get Coaching</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- Features section-->
  <section class="py-5 border-bottom" id="features">
    <div class="container px-5 my-5 game-card">
      <div class="row gx-5">
        <div class="col-lg-4 mb-5 mb-lg-0">
          <div class="feature mb-3"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2a/LoL_icon.svg/2048px-LoL_icon.svg.png"></div>
          <h2 class="h4 fw-bolder">Boost in League of Legends</h2>
          <p>You can order boosting in League of Legends with the link below, just select your current rank and where would you like to end up on and we will get you up there!</p>
          <a class="text-decoration-none" href="/league-of-legends">
            Boost League
            <i class="bi bi-arrow-right"></i>
          </a>
        </div>
        <div class="col-lg-4 mb-5 mb-lg-0 game-card">
          <div class="feature mb-3"><img src="https://styles.redditmedia.com/t5_43d3i4/styles/communityIcon_j3irp1libjm61.png"></div>
          <h2 class="h4 fw-bolder">Boost in Valorant</h2>
          <p>This is where you can find the link to the page where you can order a boost in Valorant, there you select a current rank and your desired rank and we will get you there as soon as possible!</p>
          <a class="text-decoration-none" href="/valorant">
            Boost Valorant
            <i class="bi bi-arrow-right"></i>
          </a>
        </div>
      </div>
    </div>
  </section>
  <!-- Bootstrap core JS-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
  <!-- Core theme JS-->
  <script src="js/scripts.js"></script>
  <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
  <!-- * *                               SB Forms JS                               * *-->
  <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
  <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
  <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
</body>
</html>
