<section class="page-section" id="services">
  <div class="container">
    <div class="block-container">
      <div>
        <div class="coaching-component row">
          <div class="col">
            <div class="coaching-details">
              <h3>Whad do you have to know about coaching?</h3>
              How Does League of Legends Coaching Help? League Coaching helps you by letting a highly skilled player give you his insight and advice on how to improve. Also it lets you understand your mistakes and fix them accordingly. This is how players improve and climb faster when they get coached.
            </div>
            <div class="input-details">
              <div *ngIf="incorrectData" class="alert alert-danger">Invalid Data!</div>
              <div *ngIf="incorrectOption" class="alert alert-danger">Option can't be selected!</div>
              <form (ngSubmit)="onSubmit()">
                <app-select-lane-input [order]="order" [incorrectOption]="incorrectOption"></app-select-lane-input>
                <table>
                  <tr>
                    <td>Your rank:</td>
                  </tr>
                  <tr>
                    <td>
                      <app-select-rank-input [rank]="rank"></app-select-rank-input>
                    </td>
                    <td>
                      <app-select-rank-level-input [rank]="rank"></app-select-rank-level-input>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <app-select-lp-input [rank]="rank"></app-select-lp-input>
                    </td>
                  </tr>
                </table>
                <app-select-session-count-input [order]="order"></app-select-session-count-input>
                <button type="submit" class="btn btn-light">Submit</button>
              </form>
            </div>
          </div>
          <div class="coaching-details col">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
