/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

html {
    height: 100%
}

.description-component {
    margin: 2rem
}

button {
    margin: 0.75rem;
}

.select-from-buttons, .select-to-buttons, .input-details-container {
    color: black;
    margin: 2rem;
    background-image: linear-gradient(#1e1e3be8, #4040837a);
    border-radius: 1rem;
    box-shadow: 4px 3px 4px #000000b0;
}

.input-details-container {
  width: 110%
}

.input-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem;
    
}

input {
  margin-left: 1rem; 
}

.page-content {
    margin: 2rem;
    display: flex;
    flex-direction: column;
}

.order-details {
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: flex-start;
    margin: 2rem;
    max-width: 70%;
    
    
}

label {
    margin: 1rem
}

select {
    margin-left: 1rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
}

img {
    max-width: 75px;
    max-height: 75px
}

#order-submit-btn {
    min-width: 75px;
    max-width: 100px;
}

.page {
  background-image: url("D:\Projects\Full-Stack-Boost-Site\Frontend\public\wallpaper.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  min-height: 52vw;
}

h1 {
  color: white;
}



#submit-btn {
  margin-left: 70%;
}

#submit-btn:hover {
  background: #ffffffba;
  box-shadow: 1px 1px 4px #ffffff;
}

#submit-btn:active {
  background: #ffffff99;
}

a {
  font-family: "FF Mark W05",Arial,sans-serif;
  font-size: 13px;
  font-weight: 600;
}

.nav-element, .navbar-brand, .nav-element:focus {
  color: white;
  margin: 5px;
}

.nav-element:hover {
  color: white;
  background: #80808040;
  outline: 1px white solid;
  border-radius: 5px;
}

.navbar-brand:hover {
  color: #dbdbdb
}

.navbar-brand:focus {
  color: #ffffff
}

nav {
  height: 4.5rem;
}

label {
  color: white;
}

button:hover {
  box-shadow: 1px 1px 4px white;
}

button:active {
  box-shadow: 1px 1px 4px #ffffff8c;
}

.summary-component {
  color: white;
  margin: 2rem;
}

p, h2, a {
  color: white;
}

a:hover {
  color: #cfcfcfd9
}

.game-option {
  all: unset;
  
}

.game-select {
  margin-top: 3rem
}

.select-game-btn {
  all: unset;
  color: white;
  padding: 1rem;
  border: 1px solid white;
  margin-left: 1rem;
  margin-right: 1rem;
  background: #0000001f;
  border-radius: 0.5rem
}

