<div class="col orders">
  <div class="row">
    <div *ngFor="let order of orders" class="order-card">
      <h2>Order Id: {{ order.id }}</h2>
      <h3>Username: {{ order.username }}</h3>
      <h3>Email adress: {{ order.email }}</h3>
      <h3>Game: {{ order.gameName }}</h3>
      <h3>Region: {{ order.selectedRegion }}</h3>
      <h3>Current Rank: {{ order.currentRank }} {{ order.currentRankLevel }}, {{ order.currentRankPoints }}</h3>
      <h3>Ordered Rank: {{ order.orderedRank }} {{ order.orderedRankLevel }}</h3>
      <h3>Status: {{ order.status }}</h3>
    </div>
  </div>
</div>
